<launch>
	<include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch" />

	<node pkg="img2OpenCV" type="nano_cam" name="image_converter" output="screen">
	</node>

	<node pkg="rosserial_python" type="serial_node.py" name="arduino_node" output="screen">
	    <param name="port" value="/dev/ttyUSB1"/>
	</node>

	<node pkg="avc_nrc_2020" type="ACK_EKF_step" name="ack_ekf" output="screen">
	</node>

	<node pkg="avc_nrc_2020" type="ACK_p-theta_step" name="ack_p_theta" output="screen">
	</node>
</launch>
